# Ignore binaries
db_*
!db_*.*

# Ignore compiled object and archive files
*.[oa]

# Ignore files generates by Legion
legion_defines.h
realm_defines.h

# Ignore IDE files
.vscode/
.mypy_cache/
compile_commands.json

# Include log files
log/
